<!DOCTYPE html>
<html>
<head>
    <title>An Informal Introduction to Python</title>
     <!-- Add these lines to your HTML head section -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='res/favicon.png') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Toggler for Background and Text Color -->
    <button id="colorToggler">Color</button>

    <div class="image-container">
        <a href="https://pythonpythonme.netlify.app/">
            <img alt="Logo" src="static/Images/Icon.png" style="border-radius: 5px; width: 306px; height: 234px;" class="auto-style25"></img>
        </a>
    </div>

    <h1>Recap: Python Programming</h1>

    <h2>Different Types of Imports:</h2>
    <pre>
    <code>
        import module_name
        import module_name as alias
        from module_name import *
        from module_name import function_1, function_2  # Most commonly used import
        from module_name import function_1 as alias
    </code>
    </pre>

    <h2>List Comprehension:</h2>
    <pre>
    <code>
        Syntax: [Expression for elements/items in iterable if filtering_condition]
        Syntax for nested list: [Expression for inner_iterable in outer_iterable for elements in inner_iterable if filtering_condition]
    </code>
    </pre>

    <h2>Examples:</h2>
    <pre>
    <code>
        Enumerate:
            What enumerate does?
                It provides the index and element.
            When do we need enumerate?
                Within the loop if we need to access elements at multiple indices.

        Examples:
        st = 'python is easy'

        # Any datatype in which we can move from one element to another element using a loop
        i = 2  # Not an iterable
        f = 1.2  # Not an iterable

        t = (1, 2, 4, 5, 6)
        d = {'a': 1, 'b': 2, 'c': 4}
        s = {1, 'b', 2, 4}

        # When we need enumerate?
        item_list = ['Item1', 'Item2', 'Item3']
        item_price = [35.6, 34, 56]

        for i in range(len(item_list)):
            print(item_list[i], item_price[i])
    </code>
    </pre>
        <h1>Recap: Python Programming</h1>

    <h2>Examples:</h2>
    <pre>
    <code>
        item_list = ['Item1', 'Item2', 'Item3']
        item_price = [35.6, 34, 56]

        ind = 0
        for item in item_list:
            print(item, item_price[ind])
            ind = ind + 1

        # Using enumerate
        item_price_stock = [35.6, '2kg', 34, '6kg', 56, '7kg']

        for ind, item in enumerate(item_list):
            print(item, item_price_stock[ind * 2])

        # Another example with different stock type
        item_price_stock_type2 = [35.6, 34, 56, '7kg', '5kg', '32kg']

        for ind, item in enumerate(item_list):
            print(item, item_price_stock_type2[ind])

        # Adjusted index for the different stock type
        item_price_stock_type2 = ['7kg', '5kg', '32kg', 35.6, 34, 56]

        for ind, item in enumerate(item_list):
            print(item, item_price_stock_type2[ind + 3])

        # Reading customer details from a file
        with open('customer_details.txt') as fi:
            data = fi.readlines()

        # Displaying read data
        console.log(data);
    </code>
    </pre>
        <h1>Recap: Python Programming</h1>

    <h2>Examples:</h2>
    <pre>
    <code>
        list_of_sentences = ["This is a simple example example",
                             "This NLP exercise is fun and simple",
                             "Practice makes perfect"]

        # Get list of all words
        list_of_words = [word for sentence in list_of_sentences for word in sentence.split()]

        # Extract words not present in other sentences
        unique_words = [word for i, sentence in enumerate(list_of_sentences)
                        for word in sentence.split()
                        if word not in ' '.join(list_of_sentences[:i]+list_of_sentences[i+1:]).split()]

        # Count words in all the sentences using dictionary comprehension
        word_count = {}
        for sent in list_of_sentences:
            for word in set(sent.split()):
                if word not in word_count:
                    word_count[word] = sent.split().count(word)
                else:
                    word_count[word] += sent.split().count(word)

        # Displaying results
        console.log("List of all words:", list_of_words);
        console.log("Unique words:", unique_words);
        console.log("Word count:", word_count);
    </code>
    </pre>
    <h1>Recap: Python Programming</h1>

    <h2>Examples:</h2>
    <pre>
    <code>
        for i in set("This is is is a simple example".split()):
            print(i, end=' ')
            print("This is is is a simple example".split().count(i))

        # Another solution
        list_of_sentences = ["This is is is a simple example",
                             "This NLP exercise is fun and simple",
                             "Practice makes perfect"]

        joined_sentences = ' '.join(list_of_sentences)

        # Dictionary comprehension equivalent
        word_freq = {word: joined_sentences.split().count(word) for word in joined_sentences.split()}

        # Displaying results
        console.log("Word frequency:", word_freq);
    </code>
    </pre>

        <h1>Python Programming Examples</h1>

    <h2>Set Comprehension Example:</h2>
    <pre>
    <code>
        # From each sentence, extract words that are not present in other sentences
        list_of_sentences = ["This is a simple example example",
                             "This NLP exercise is fun and simple",
                             "Practice makes perfect perfect"]

        res = {word for i, sentence in enumerate(list_of_sentences) for word in sentence.split() \
               if word not in ' '.join(list_of_sentences[:i] + list_of_sentences[i+1:]).split()}

        # Displaying result
        console.log(res);
    </code>
    </pre>

    <h2>Zip Example:</h2>
    <pre>
    <code>
        item_list = ['Item1', 'Item2', 'Item3']
        item_price = [35.6, 34, 56]

        console.log("Zipped List:", list(zip(item_list, item_price)));
        console.log("Zipped Dictionary:", dict(zip(item_list, item_price)));

        // Uneven length of lists
        item_list = ['Item1', 'Item2', 'Item3']
        item_price = [34, 56]

        console.log("Zipped List (Uneven Length):", list(zip(item_list, item_price)));
    </code>
    </pre>

        <h1>Python Programming Examples</h1>

    <h2>Lambda Function Examples:</h2>
    <pre>
    <code>
        # Lambda functions or anonymous functions
        fun = lambda x, y: x + y
        console.log("Lambda Function Example:", fun(8, 6));

        square_fun = lambda x: x ** 2
        console.log("Square Function Example:", square_fun(4));

        // Function to determine even or odd
        const even_or_odd = x => (x % 2 === 0) ? 'Even' : 'Odd';
        console.log("Even or Odd Example:", even_or_odd(7));
    </code>
    </pre>

    <h2>Map Function Example:</h2>
    <pre>
    <code>
        const data = [1, 3, 4, 5, 6, 7, 8, 9, 9, 0, 0, 0, 55, 6, 3, 2, 1, 1];

        // Higher order function - map
        const evenOrOddResult = Array.from(map(even_or_odd, data));
        console.log("Even or Odd Result:", evenOrOddResult);

        const squareFunResult = Array.from(map(square_fun, data));
        console.log("Square Function Result:", squareFunResult);

        // Help on map function
        console.log("Help on map function:", help(map));
    </code>
    </pre>

        <h2>Lambda, Map, and Filter Examples:</h2>
    <pre>
    <code>
        // Lambda Function Examples
        const squareFunResult = list(map(x => x ** 2, data));
        console.log("Square Function Result:", squareFunResult);

        const cubeFunResult = list(map(x => x ** 3, data));
        console.log("Cube Function Result:", cubeFunResult);

        const mod3Result = list(map(x => x % 3, data));
        console.log("Mod 3 Result:", mod3Result);

        const wordLengthResult = list(map(x => x.length, data));
        console.log("Word Length Result:", wordLengthResult);

        const upperCaseResult = list(map(x => x.toUpperCase(), data));
        console.log("Upper Case Result:", upperCaseResult);

        const titleCaseResult = list(map(x => x.title(), data));
        console.log("Title Case Result:", titleCaseResult);

        // Filter Function Example
        const evenNumbersFilterResult = list(filter(x => x % 2 === 0, data));
        console.log("Even Numbers (Filter):", evenNumbersFilterResult);

        // Equivalent List Comprehension
        const evenNumbersListCompResult = [j for j in data if j % 2 === 0];
        console.log("Even Numbers (List Comprehension):", evenNumbersListCompResult);

        // Reduce Function Example
        const reduceSumResult = reduce((x, y) => x + y, li3);
        console.log("Reduce Sum Result:", reduceSumResult);
    </code>
    </pre>
    <h2>Reduce and Exception Handling Examples:</h2>
    <pre>
    <code>
        // Reduce Function Examples
        const reduceSumResult = reduce((x, y) => x + y, li3);
        console.log("Reduce Sum Result:", reduceSumResult);

        const maxNumberResult = reduce((x, y) => (x > y ? x : y), li3);
        console.log("Max Number Result:", maxNumberResult);

        const longestWordResult = reduce((x, y) => (x.length > y.length ? x : y), li_of_lang);
        console.log("Longest Word Result:", longestWordResult);

        // Exception Handling Example
        const divisor = parseInt(prompt("Enter a number:"));

        if (!isNaN(divisor) && divisor !== 0) {
            for (let i = 0; i < 12; i++) {
                console.log(i / divisor);
            }
        } else {
            console.log("Please enter a valid number");
        }

        // Better Implementation
        const divisor2 = parseInt(prompt("Enter a number:"));

        if (divisor2 !== 0) {
            for (let i = 0; i < 12; i++) {
                console.log(i / divisor2);
            }
        } else {
            console.log("Please enter a valid number");
        }
    </code>
    </pre>
        <h1>Python Exception Handling Examples</h1>

    <h2>Code with and without Exception Handling:</h2>
    <pre>
    <code>
        // Code without exception handling
        let num1 = parseInt(prompt("Please enter a number:"));
        let num2 = parseInt(prompt("Please enter another number:"));
        let func = prompt("Please enter a functionality:\t");

        if (func === "sum") {
            console.log(num1 + num2);
        } else if (func === "prod") {
            console.log(num1 * num2);
        } else if (func === "div") {
            console.log(num1 / num2);
        } else {
            console.log("Functionality not implemented");
        }

        // Code with exception handling
        try {
            num1 = parseInt(prompt("Please enter a number:"));
            num2 = parseInt(prompt("Please enter another number:"));
            func = prompt("Please enter a functionality:\t");

            if (func === "sum") {
                console.log(num1 + num2);
            } else if (func === "prod") {
                console.log(num1 * num2);
            } else if (func === "div") {
                if (num2 === 0) {
                    throw new Error("num2 cannot be 0 when functionality is div");
                }
                console.log(num1 / num2);
            } else {
                console.log("Functionality not implemented");
            }
        } catch (error) {
            console.error(error.message);
        }
    </code>
    </pre>

    <h2>Commonly Occurring Exceptions:</h2>
    <pre>
    <code>
        // Some commonly occurring exceptions
        const exceptions = [
            "Exception",
            "StopIteration",
            "SystemExit",
            "StandardError",
            "ArithmeticError",
            "OverflowError",
            "FloatingPointError",
            "ZeroDivisionError",
            "AssertionError",
            "AttributeError",
            "EOFError",
            "ImportError",
            "KeyboardInterrupt",
            "LookupError",
            "IndexError",
            "KeyError",
            "NameError",
            "UnboundLocalError",
            "EnvironmentError",
            "IOError",
            "OSError",
            "SyntaxError",
            "IndentationError",
            "SystemError",
            "SystemExit",
            "TypeError",
            "ValueError",
            "RuntimeError",
        ];

        console.log("Commonly Occurring Exceptions:", exceptions.join(", "));
    </code>
    </pre>
    <!-- You can continue to add more sections as needed -->
    <div class="menu-box">
        <p></p><br>
        <a href="/">Home</a><br><br>
        <a href="/about">About</a><br><br>
        <a href="/contact">Contact</a><br><br>
    </div>
    <!-- JavaScript for toggling background and text color -->
    <script>
        $(document).ready(function() {
            $("#colorToggler").click(function() {
                $("body").toggleClass("bg-lightgray");
            });
        });
    </script>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
            <div class="col-md-4 text-center">
                <div>
                </div>
                <h4>Anoop Johny 🤖</h4>
                <h4>Follow Me</h4>
                <ul class="social-icons">
                    <a href="https://www.linkedin.com/in/anoop-johny-30a746181/"><img src="{{ url_for('static', filename='res/linkedin.png') }}" alt="LinkedIn"></a>
                    <a href="https://github.com/flyfir248"><img src="{{ url_for('static', filename='res/github.png') }}" alt="GitHub"></a>
                    <a href="https://pythonpythonme.netlify.app/index.html"><img src="{{ url_for('static', filename='res/web.png') }}" alt="Website"></a>
                    <a href="https://medium.com/@anoopjohny2000"><img src="{{ url_for('static', filename='res/medium.png') }}" alt="Medium"></a>
                    <a href="https://www.kooapp.com/profile/anoop2DEVLJ"><img src="https://www.kooapp.com/_next/static/media/logoKuSolidOutline.1f4fa971.svg" alt="The Koo App" width="55" height="55"></a>
                    <a href="https://www.kaggle.com/anoopjohny"><img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/189_Kaggle-1024.png" alt="The Kaggle App" width="55" height="55"></a>
                </ul>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">© 2023-2024 PythonPythonME.</p>
                    <p>All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
