<!DOCTYPE html>
<html>
<head>
    <title>An Informal Introduction to Python</title>
     <!-- Add these lines to your HTML head section -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='res/favicon.png') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Toggler for Background and Text Color -->
    <button id="colorToggler">Color</button>

    <div class="image-container">
        <a href="https://pythonpythonme.netlify.app/">
            <img alt="Logo" src="static/Images/Icon.png" style="border-radius: 5px; width: 306px; height: 234px;" class="auto-style25"></img>
        </a>
    </div>

    <h1>Agenda</h1>

    <ul>
            <li>Recap</li>
            <li>Continue with Pandas</li>
            <li>Numpy</li>
            <li>String formatting</li>
        </ul>

        <h1>Recap</h1>

        <h2>What is Pandas?</h2>

        <ul>
            <li>An open-source library used for data analysis.</li>
        </ul>

        <h2>Why we need Pandas?</h2>

        <ul>
            <li>Data structures (Series and DataFrame) for handling structured data.</li>
            <li>Efficient operations on data.</li>
        </ul>

        <h2>Pandas Data Structures</h2>

        <ul>
            <li>Series: One-dimensional data</li>
            <li>DataFrame: Two-dimensional data</li>
        </ul>

        <h2>Types of Data</h2>

        <ul>
            <li>Structured</li>
            <li>Semi-structured</li>
            <li>Unstructured</li>
        </ul>

        <h2>Indexing</h2>

        <ul>
            <li>[]</li>
            <li>loc: Index-based</li>
            <li>iloc: Position-based (starts from 0)</li>
        </ul>

        <h2>Operations on Series</h2>

        <ul>
            <li>Some operations and functions</li>
            <li>drop</li>
            <li>inplace</li>
        </ul>

        <h2>DataFrame</h2>

        <ul>
            <li>Creation in different ways</li>
            <li>Accessing columns</li>
        </ul>

        <h1>Dataframe</h1>

        <pre>
        2
        import pandas as pd
        3
        items_d = {'Price':[10000,60000,1000,5000,15000],'Units_Sold_Weekdays':[245,43,600,400,200],\
        4
                   'Units Sold Weekend':[600,78,1100,750,500]}
        5
        sales_df = pd.DataFrame(items_d,index=['Mobile','Laptop','Earphones','Speakers','Tablets'])
        1
        sales_df
            Price 	Units_Sold_Weekdays 	Units Sold Weekend
        Mobile 	10000 	245 	600
        Laptop 	60000 	43 	78
        Earphones 	1000 	600 	1100
        Speakers 	5000 	400 	750
        Tablets 	15000 	200 	500
        1
        sales_df['Price']
        Mobile       10000
        Laptop       60000
        Earphones     1000
        Speakers      5000
        Tablets      15000
        Name: Price, dtype: int64
        1
        sales_df[['Price']]
            Price
        Mobile 	10000
        Laptop 	60000
        Earphones 	1000
        Speakers 	5000
        Tablets 	15000
        1
        sales_df.Price
        Mobile       10000
        Laptop       60000
        Earphones     1000
        Speakers      5000
        Tablets      15000
        Name: Price, dtype: int64
        1
        sales_df['Units Sold Weekend']
        Mobile        600
        Laptop         78
        Earphones    1100
        Speakers      750
        Tablets       500
        Name: Units Sold Weekend, dtype: int64
        1
        sales_df[['Units Sold Weekend']]
            Units Sold Weekend
        Mobile 	600
        Laptop 	78
        Earphones 	1100
        Speakers 	750
        Tablets 	500
        1
        sales_df.Units Sold Weekend
          Cell In[11], line 1
            sales_df.Units Sold Weekend
                           ^
        SyntaxError: invalid syntax
        </pre>
            <h1>Operations on Pandas DataFrame</h1>

        <h2>Selecting Multiple Columns</h2>

        <pre>
        1
        sales_df[['Units Sold Weekend','Price']]
            Units Sold Weekend 	Price
        Mobile 	600 	10000
        Laptop 	78 	60000
        Earphones 	1100 	1000
        Speakers 	750 	5000
        Tablets 	500 	15000
        1
        sales_df[['Units Sold Weekend','Units_Sold_Weekdays']]
            Units Sold Weekend 	Units_Sold_Weekdays
        Mobile 	600 	245
        Laptop 	78 	43
        Earphones 	1100 	600
        Speakers 	750 	400
        Tablets 	500 	200
        1
        sales_df
            Price 	Units_Sold_Weekdays 	Units Sold Weekend
        Mobile 	10000 	245 	600
        Laptop 	60000 	43 	78
        Earphones 	1000 	600 	1100
        Speakers 	5000 	400 	750
        Tablets 	15000 	200 	500
        </pre>

        <h2>Re-arranging Columns</h2>

        <pre>
        1
        sales_df = sales_df[['Units Sold Weekend','Units_Sold_Weekdays','Price']]
        2
        ### Using spaces in variable name, column names, indices, file names, or in any place during programming
        3
        ### is not recommended
        1
        sales_df
            Units Sold Weekend 	Units_Sold_Weekdays 	Price
        Mobile 	600 	245 	10000
        Laptop 	78 	43 	60000
        Earphones 	1100 	600 	1000
        Speakers 	750 	400 	5000
        Tablets 	500 	200 	15000
        1
        sales_df['Price']
        Mobile       10000
        Laptop       60000
        Earphones     1000
        Speakers      5000
        Tablets      15000
        Name: Price, dtype: int64
        </pre>

            <h1>Accessing DataFrame Elements</h1>

        <h2>Accessing Individual Element</h2>

        <pre>
        1
        sales_df['Price'].iloc[3]
        5000
        1
        sales_df['Price'].loc['Speakers']
        5000
        1
        sales_df['Price']['Speakers']
        5000
        1
        sales_df['Price'][3]
        5000
        </pre>

        <h2>Accessing a Range of Rows of One Column</h2>

        <pre>
        1
        sales_df['Price'].iloc[2:]
        Earphones     1000
        Speakers      5000
        Tablets      15000
        Name: Price, dtype: int64
        1
        sales_df['Price'].loc['Laptop':'Speakers']
        Laptop       60000
        Earphones     1000
        Speakers      5000
        Name: Price, dtype: int64
        </pre>

        <h2>Accessing a Range of Rows of Multiple Columns</h2>

        <pre>
        1
        sales_df[['Price','Units_Sold_Weekdays']].loc['Laptop':'Speakers']
            Price 	Units_Sold_Weekdays
        Laptop 	60000 	43
        Earphones 	1000 	600
        Speakers 	5000 	400
        </pre>

        <h2>Accessing Individual Element Using loc</h2>

        <pre>
        1
        sales_df.loc['Laptop','Price']
        60000
        </pre>

        <h2>Accessing Range of Rows and from Selected Columns</h2>

        <pre>
        1
        sales_df.loc['Laptop':'Speakers',['Price','Units_Sold_Weekdays']]
            Price 	Units_Sold_Weekdays
        Laptop 	60000 	43
        Earphones 	1000 	600
        Speakers 	5000 	400
        </pre>

        <h2>Accessing Selected Rows and Selected Columns</h2>

        <pre>
        1
        sales_df.loc[['Laptop','Speakers'],['Price','Units_Sold_Weekdays']]
            Price 	Units_Sold_Weekdays
        Laptop 	60000 	43
        Speakers 	5000 	400
        </pre>

        <h2>Accessing Selected Rows and Columns Using iloc</h2>

        <pre>
        1
        sales_df.iloc[[0,2],[0,2]]
            Units Sold Weekend 	Price
        Mobile 	600 	10000
        Earphones 	1100 	1000
        </pre>
        <h1>Accessing Range of Rows and Columns</h1>

        <h2>Accessing Range of Rows and Range of Columns According to Position</h2>

        <pre>
        1
        sales_df.iloc[0:2,0:2]
            Units Sold Weekend 	Units_Sold_Weekdays
        Mobile 	600 	245
        Laptop 	78 	43
        1
        sales_df.iloc[0:3,0:3]
            Units Sold Weekend 	Units_Sold_Weekdays 	Price
        Mobile 	600 	245 	10000
        Laptop 	78 	43 	60000
        Earphones 	1100 	600 	1000
        1
        sales_df.iloc[0:2]
            Units Sold Weekend 	Units_Sold_Weekdays 	Price
        Mobile 	600 	245 	10000
        Laptop 	78 	43 	60000
        1
        sales_df.iloc[:,0:2]
            Units Sold Weekend 	Units_Sold_Weekdays
        Mobile 	600 	245
        Laptop 	78 	43
        Earphones 	1100 	600
        Speakers 	750 	400
        Tablets 	500 	200
        1
        sales_df.loc[:,'Units_Sold_Weekdays':'Price']
            Units_Sold_Weekdays 	Price
        Mobile 	245 	10000
        Laptop 	43 	60000
        Earphones 	600 	1000
        Speakers 	400 	5000
        Tablets 	200 	15000
        </pre>

        <h2>Dataframe Functions</h2>

        <pre>
        1
        # Dataframe
        2
        import pandas as pd
        3
        items_d = {'Price':[10000,60000,1000,5000,15000],'Units_Sold_Weekdays':[245,43,600,400,200],\
        4
                   'Units Sold Weekend':[600,78,1100,750,500]}
        5
        sales_df = pd.DataFrame(items_d,index=['Mobile','Laptop','Earphones','Speakers','Tablets'])
        1
        sales_df
            Price 	Units_Sold_Weekdays 	Units Sold Weekend
        Mobile 	10000 	245 	600
        Laptop 	60000 	43 	78
        Earphones 	1000 	600 	1100
        Speakers 	5000 	400 	750
        Tablets 	15000 	200 	500
        </pre>

            <h1>Data Exploration with Pandas</h1>

        <pre>
        1
        data = pd.read_csv('Store.csv')

        1
        # data_excel = pd.read_excel('Store.xlsx')

        1
        data

            Unnamed: 0  Row ID  Order ID  Order Date  Ship Date  Ship Mode  Customer ID  Customer Name  Segment  Country  ...  Postal Code  Region  Product ID  Category  Sub-Category  Product Name  Sales  Quantity  Discount  Profit
        0  0  1  NaN  11-09-2013  11-12-2013  NaN  CG-12520  Claire Gute  Consumer  United States  ...  NaN  South  FUR-BO-10001798  Furniture  Bookcases  Bush Somerset Collection Bookcase  NaN  2  0.00  41.9136
        1  1  2  CA-2013-152156  11-09-2013  11-12-2013  Second Class  CG-12520  Claire Gute  Consumer  United States  ...  42420.0  South  FUR-CH-10000454  Furniture  ....1

        data.shape

        (9994, 22)

        1
        data.head(2)

            Unnamed: 0  Row ID  Order ID  Order Date  Ship Date  Ship Mode  Customer ID  Customer Name  Segment  Country  ...  Postal Code  Region  Product ID  Category  Sub-Category  Product Name  Sales  Quantity  Discount  Profit
        0  0  1  NaN  11-09-2013  11-12-2013  NaN  CG-12520  Claire Gute  Consumer  United States  ...  NaN  South  FUR-BO-10001798  Furniture  Bookcases  Bush Somerset Collection Bookcase  NaN  2  0.0  41.9136
        1  1  2  CA-2013-152156  11-09-2013  11-12-2013  Second Class  CG-12520  Claire Gute  Consumer  United States  ...  42420.0  South  FUR-CH-10000454  Furniture  Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.94  3  0.0  219.5820

        2 rows × 22 columns

        1
        data.tail(2)

            Unnamed: 0  Row ID  Order ID  Order Date  Ship Date  Ship Mode  Customer ID  Customer Name  Segment  Country  ...  Postal Code  Region  Product ID  Category  Sub-Category  Product Name  Sales  Quantity  Discount  Profit
        9992  9992  9993  CA-2014-121258  2/27/2014  03-04-2014  Standard Class  DB-13060  Dave Brooks  Consumer  United States  ...  92627.0  West  OFF-PA-10004041  Office Supplies  Paper  It's Hot Message Books with Stickers, 2 3/4" x 5"  29.60  4  0.0  13.320
        9993  9993  9994  CA-2014-119914  05-05-2014  05-10-2014  Second Class  CC-12220  Chris Cortes  Consumer  United States  ...  92683.0  West  OFF-AP-10002684  Office Supplies  Appliances  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.16  2  0.0  72.948

        2 rows × 22 columns

        1
        data.columns.tolist()

        ['Unnamed: 0',
         'Row ID',
         'Order ID',
         'Order Date',
         'Ship Date',
         'Ship Mode',
         'Customer ID',
         'Customer Name',
         'Segment',
         'Country',
         'City',
         'State',
         'Postal Code',
         'Region',
         'Product ID',
         'Category',
         'Sub-Category',
         'Product Name',
         'Sales',
         'Quantity',
         'Discount',
         'Profit']

        1
        data.drop(['Unnamed: 0','Row ID'],axis=1,inplace=True)

        1
        data.head()

            Order ID  Order Date  Ship Date  Ship Mode  Customer ID  Customer Name  Segment  Country  City  State  Postal Code  Region  Product ID  Category  Sub-Category  Product Name  Sales  Quantity  Discount  Profit
        0  NaN  11-09-2013  11-12-2013  NaN  CG-12520  Claire Gute  Consumer  United States  Henderson  Kentucky  NaN  South  FUR-BO-10001798  Furniture  Bookcases  Bush Somerset Collection Bookcase  NaN  2  0.00  41.9136
        1  CA-2013-152156  11-09-2013  11-12-2013  Second Class  CG-12520  Claire Gute  Consumer  United States  Henderson  Kentucky  42420.0  South  FUR-CH-10000454  Furniture  ....1

        data.columns.values.tolist()

        ['Order ID',
         'Order Date',
         'Ship Date',
         'Ship Mode',
         'Customer ID',
         'Customer Name',
         'Segment',
         'Country',
         'City',
         'State',
         'Postal Code',
         'Region',
         'Product ID',
         'Category',
         'Sub-Category',
         'Product Name',
         'Sales',
         'Quantity',
         'Discount',
         'Profit']

        1
        data.index.values.tolist()

        [0,
         1,
         2,
         3,
         4,
         5,
         6,... </pre>

            <h1>Data Manipulation with Pandas</h1>

        <pre>
        1
        sampledata =  pd.DataFrame(data = {'Price':[1,2,3],'Sales':[20,32,41]},index=['Price','Sales','Empty'])

        1
        sampledata

            Price  Sales
        Price  1  20
        Sales  2  32
        Empty  3  41

        1
        sampledata.drop(['Price'],axis= 1)

          Sales
        Price  20
        Sales  32
        Empty  41

        1
        ### Modify any data

        2
        sampledata

            Price  Sales
        Price  1  20
        Sales  2  32
        Empty  3  41

        1
        ### Modify a value in dataframe

        1
        sampledata.loc['Price','Sales'] = 3000

        1
        sampledata

            Price  Sales
        Price  1  3000
        Sales  2  32
        Empty  3  41

        1
        ###

        2
        data.head()

            Order ID  Order Date  Ship Date  Ship Mode  Customer ID  Customer Name  Segment  Country  City  State  Postal Code  Region  Product ID  Category  Sub-Category  Product Name  Sales  Quantity  Discount  Profit
        0  NaN  11-09-2013  11-12-2013  NaN  CG-12520  Claire Gute  Consumer  United States  Henderson  Kentucky  NaN  South  FUR-BO-10001798  Furniture  Bookcases  Bush Somerset Collection Bookcase  NaN  2  0.00  41.9136
        1  CA-2013-152156  11-09-2013  11-12-2013  Second Class  CG-12520  Claire Gute  Consumer  United States  Henderson  Kentucky  42420.0  South  FUR-CH-10000454  Furniture  ....1

        ### Summary statistics of data. Summary will be done only for numeric columns.

        2
        data.describe()

            Postal Code  Sales  Quantity  Discount  Profit
        count  9991.000000  9991.000000  9994.000000  9993.000000  9994.000000
        mean  55197.455810  229.884410  3.789574  0.156198  28.656896
        std  32065.476415  623.334899  2.225110  0.206462  234.260108
        min  1040.000000  0.444000  1.000000  0.000000  -6599.978000
        25%  23223.000000  17.264000  2.000000  0.000000  1.728750
        50%  56560.000000  54.480000  3.000000  0.200000  8.666500
        75%  90008.000000  209.940000  5.000000  0.200000  29.364000
        max  99301.000000  22638.480000  14.000000  0.800000  8399.976000

        1
        sampledata =  pd.DataFrame(data = {'Price':[0,1,2,3,9,5,6,7,4,8,10]})

        1
        sampledata.describe()

            Price
        count  11.000000
        mean  5.000000
        std  3.316625
        min  0.000000
        25%  2.500000
        50%  5.000000
        75%  7.500000
        max  10.000000

        1
        # 0 - min  0%  -5

        2

        ​

        3

        # 1            4

        4

        # 2

        5

        #   25%

        6

        # 3

        7

        # 4

        8

        ​

        9

        # 5 50%  mu

        10

        ​

        11

        # 6

        12

        # 7

        13

        #  75%

        14

        # 8

        15

        # 9

        16

        ​

        17

        # 10 max  100%

        1
        sum(list(range(0,11)))/11

        5.01

        ​

        2

        xi          xi-mu

        3

        0           0-5 = -5    25

        4

        1           0-1 = -4    16

        5

        2           -3          9

        6

        3           -2          4

        7

        4           -1          1

        8

        5 mu/mean   0           0

        9

        6           1

        10

        7           2

        11

        8           3

        12

        9           4

        13

        10          5

        14

                               110

        1
        import math

        2
        math.sqrt(110/10)

        3.3166247903554

        1
        data.info()

        <class 'pandas.core.frame.DataFrame'>
        RangeIndex: 9994 entries, 0 to 9993
        Data columns (total 20 columns):
         #   Column         Non-Null Count  Dtype
        ---  ------         --------------  -----
         0   Order ID       9993 non-null   object
         1   Order Date     9994 non-null   object
         2   Ship Date      9994 non-null   object
         3   Ship Mode      9992 non-null   object
         4   Customer ID    9994 non-null   object
         5   Customer Name  9994 non-null   object
         6   Segment        9994 non-null   object
         7   Country        9994 non-null   object
         8   City           9994 non-null   object
         9   State          9994 non-null   object
         10  Postal Code    9991 non-null   float64
         11  Region         9994 non-null   object
         12  Product ID     9994 non-null   object
         13  Category       9994 non-null   object
         14  Sub-Category   9994 non-null   object
         15  Product Name   9994 non-null   object
         16  Sales          9991 non-null   float64
         17  Quantity       9994 non-null   int64
         18  Discount       9993 non-null   float64
         19  Profit         9994 non-null   float64
        dtypes: float64(4), int64(1), object(15)
        memory usage: 1.5+ MB

        1
        import numpy as np

        2
        sampledata =  pd.DataFrame(data = {'Price':[1,3,np.nan],'Sales':[20,32,41]},index=['Price','Sales','Empty'])

        1
        sampledata

            Price  Sales
        Price  1.0  20
        Sales  3.0  32
        Empty  NaN  41

        1
        sampledata.info()

        <class 'pandas.core.frame.DataFrame'>
        Index: 3 entries, Price to Empty
        Data columns (total 2 columns):
         #   Column  Non-Null Count  Dtype
        ---  ------  --------------  -----
         0   Price   2 non-null      float64
         1   Sales   3 non-null      int64
        dtypes: float64(1), int64(1)
        memory usage: 72.0+ bytes

        1
        demo_data = pd.read_csv('demo.csv')

        1
        demo_data.info()

        <class 'pandas.core.frame.DataFrame'>
        RangeIndex: 3 entries, 0 to 2
        Data columns (total 2 columns):
         #   Column  Non-Null Count  Dtype
        ---  ------  --------------  -----
         0   Price   2 non-null      float64
         1   Sales   3 non-null      int64
        dtypes: float64(1), int64(1)
        memory usage: 176.0 bytes
        </pre>

            <h1>Data Manipulation with Pandas</h1>

        <pre>
        1
        sampledata.mean()

        Price     2.0
        Sales    31.0
        dtype: float64

        1
        sampledata =  pd.DataFrame(data = {'Price':[1,3,4],'Sales':[20,30,40],'day':['Mon','Tue','Mon']})

        1
        sampledata

            Price  Sales  day
        0  1  20  Mon
        1  3  30  Tue
        2  4  40  Mon

        1
        # sampledata.mean()

        1
        sampledata.median(numeric_only=True)

        Price     3.0
        Sales    30.0
        dtype: float64

        1
        # Data that is repeated most

        2
        op = sampledata['day'].mode()

        1
        type(op)

        pandas.core.series.Series

        1
        op.iloc[0]

        'Mon'

        1
        sampledata.sum()

        Price            8
        Sales           90
        day      MonTueMon
        dtype: object

        1
        data.drop(['Order Date','Ship Date'],axis=1,inplace=True)

        1
        data.sum(numeric_only=True)

        Postal Code    5.514778e+08
        Sales          2.296775e+06
        Quantity       3.787300e+04
        Discount       1.560890e+03
        Profit         2.863970e+05
        dtype: float64

        1
        ## Convert a string column to numeric

        1
        # data.info()

        1
        data['Postal Code'] = data['Postal Code'].astype('object')

        1
        data.sum(numeric_only=True)

        Sales       2.296775e+06
        Quantity    3.787300e+04
        Discount    1.560890e+03
        Profit      2.863970e+05
        dtype: float64

        1
        sampledata =  pd.DataFrame(data = {'Price':['1','3','4']})

        1
        sampledata.info()

        <class 'pandas.core.frame.DataFrame'>
        RangeIndex: 3 entries, 0 to 2
        Data columns (total 1 columns):
         #   Column  Non-Null Count  Dtype
        ---  ------  --------------  -----
         0   Price   3 non-null      object
        dtypes: object(1)
        memory usage: 152.0+ bytes
        </pre>


        <h1>Data Manipulation with Pandas</h1>

        <pre>
        1
        sampledata['Price'] = sampledata['Price'].astype('float64')

        1
        sampledata['Price']

        0    1.0
        1    3.0
        2    4.0
        Name: Price, dtype: float64

        1
        sampledata.info()

        <class 'pandas.core.frame.DataFrame'>
        RangeIndex: 3 entries, 0 to 2
        Data columns (total 1 columns):
         #   Column  Non-Null Count  Dtype
        ---  ------  --------------  -----
         0   Price   3 non-null      float64
        dtypes: float64(1)
        memory usage: 152.0 bytes

        1
        sampledata.sum()

        Price    8.0
        dtype: float64

        1
        print(round(sampledata.sum()['Price'],1))

        8.0

        Finding null values

        1
        import numpy as np

        2
        sampledata =  pd.DataFrame(data = {'Price':[1,np.nan,4],'Sales':[20,30,40],'day':['Mon','Tue','Mon']})

        1
        sampledata

            Price  Sales  day
        0  1.0  20  Mon
        1  NaN  30  Tue
        2  4.0  40  Mon

        1
        sampledata.isnull().sum()

        Price    1
        Sales    0
        day      0
        dtype: int64

        1
        sampledata.isnull()

            Price  Sales  day
        0  False  False  False
        1  True   False  False
        2  False  False  False

        1
        data.isnull().sum()

        Order ID         1
        Ship Mode        2
        Customer ID      0
        Customer Name    0
        Segment          0
        Country          0
        City             0
        State            0
        Postal Code      3
        Region           0
        Product ID       0
        Category         0
        Sub-Category     0
        Product Name     0
        Sales            3
        Quantity         0
        Discount         1
        Profit           0
        dtype: int64

        Renaming column name or index name

        1
        sampledata =  pd.DataFrame(data = {'Price':[1,np.nan,4],'Sales':[20,30,40],'day':['Mon','Tue','Mon']})

        1
        sampledata

            Price  Sales  day
        0  1.0  20  Mon
        1  NaN  30  Tue
        2  4.0  40  Mon

        1
        sampledata.rename({'Price':'Pr','Sales':'Sl'},axis=1)

            Pr  Sl  day
        0  1.0  20  Mon
        1  NaN  30  Tue
        2  4.0  40  Mon

        1
        sampledata.rename({0:'Item1',1:'Item2',2:'Item3'},axis=0)

            Price  Sales  day
        Item1  1.0  20  Mon
        Item2  NaN  30  Tue
        Item3  4.0  40  Mon
        </pre>

            <h1>Data Manipulation with Pandas</h1>

        <pre>
        Count the frequency of occurrence of values

        1
        sampledata =  pd.DataFrame(data = {'Price':[1,np.nan,4],'Sales':[20,30,40],'day':['Mon','Tue','Mon']})

        1
        sampledata['day'].value_counts()

        Mon    2
        Tue    1
        Name: day, dtype: int64

        Replace all the occurrence of values

        1
        sampledata.replace({'Mon':'Monday','Tue':'Tuesday'})

            Price  Sales  day
        0  1.0  20  Monday
        1  NaN  30  Tuesday
        2  4.0  40  Monday

        1
        sampledata['day'].replace({'Mon':'Monday','Tue':'Tuesday'})

        0     Monday
        1    Tuesday
        2     Monday
        Name: day, dtype: object

        #### Get unique values

        1
        sampledata['day'].unique().tolist()

        ['Mon', 'Tue']

        1
        data.head(3)

            Order ID  Ship Mode  Customer ID  Customer Name  Segment  Country  City  State  Postal Code  Region  Product ID  Category  Sub-Category  Product Name  Sales  Quantity  Discount  Profit
        0  NaN  NaN  CG-12520  Claire Gute  Consumer  United States  Henderson  Kentucky  NaN  South  FUR-BO-10001798  Furniture  Bookcases  Bush Somerset Collection Bookcase  NaN  2  0.0  41.9136
        1  CA-2013-152156  Second Class  CG-12520  Claire Gute  Consumer  United States  Henderson  Kentucky  42420.0  South  FUR-CH-10000454  Furniture  Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.94  3  0.0  219.5820
        2  CA-2013-138688  Second Class  DV-13045  Darrin Van Huff  Corporate  United States  Los Angeles  California  90036.0  West  OFF-LA-10000240  Office Supplies  Labels  Self-Adhesive Address Labels for Typewriters b...  14.62  2  0.0  6.8714

        1
        data['Segment'].unique()

        array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

        1
        data['Segment'].value_counts()

        Consumer       5191
        Corporate      3020
        Home Office    1783
        Name: Segment, dtype: int64

        Data Manipulation using pandas

        1
        d3 = {'Price':[1.5,1.6,1.7,1.8,45,1],'Sales':[2,3,4,5,67,3],'Segment':['Office','Home','Office','Office','Office','Home']}

        1
        sampledata = pd.DataFrame(d3)

        1
        sampledata

            Price  Sales  Segment
        0  1.5  2  Office
        1  1.6  3  Home
        2  1.7  4  Office
        3  1.8  5  Office
        4  45.0  67  Office
        5  1.0  3  Home

        1
        # sampledata['Segment']=='Office'

        1
        sampledata[sampledata['Segment']=='Office']

            Price  Sales  Segment
        0  1.5  2  Office
        2  1.7  4  Office
        3  1.8  5  Office
        4  45.0  67  Office

        1
        sampledata[sampledata['Segment']=='Office']['Sales'].sum()

        78

        1
        ### SQL syntax

        2
        sampledata.query("Segment=='Office'")

            Price  Sales  Segment
        0  1.5  2  Office
        2  1.7  4  Office
        3  1.8  5  Office

        1
        # sampledata[sampledata['Sales']>3] = sampledata[sampledata['Sales']>3].replace({'Office':'of'})

        1
        sampledata[sampledata['Sales']>3]

            Price  Sales  Segment
        2  1.7  4  Office
        3  1.8  5  Office
        4  45.0  67  Office
        </pre>

            <pre>
        1
        sampledata[sampledata['Sales']>3].replace({'Office':'of'})

            Price  Sales  Segment
        2  1.7  4  of
        3  1.8  5  of
        4  45.0  67  of

        1
        sampledata[sampledata['Sales']>3] = sampledata[sampledata['Sales']>3].replace({'Office':'of'})

        1
        sampledata

            Price  Sales  Segment
        0  1.5  2  Office
        1  1.6  3  Home
        2  1.7  4  of
        3  1.8  5  of
        4  45.0  67  of
        5  1.0  3  Home
        </pre>

    <!-- You can continue to add more sections as needed -->
    <div class="menu-box">
        <p></p><br>
        <a href="/">Home</a><br><br>
        <a href="/about">About</a><br><br>
        <a href="/contact">Contact</a><br><br>
    </div>
    <!-- JavaScript for toggling background and text color -->
    <script>
        $(document).ready(function() {
            $("#colorToggler").click(function() {
                $("body").toggleClass("bg-lightgray");
            });
        });
    </script>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
            <div class="col-md-4 text-center">
                <div>
                </div>
                <h4>Anoop Johny 🤖</h4>
                <h4>Follow Me</h4>
                <ul class="social-icons">
                    <a href="https://www.linkedin.com/in/anoop-johny-30a746181/"><img src="{{ url_for('static', filename='res/linkedin.png') }}" alt="LinkedIn"></a>
                    <a href="https://github.com/flyfir248"><img src="{{ url_for('static', filename='res/github.png') }}" alt="GitHub"></a>
                    <a href="https://pythonpythonme.netlify.app/index.html"><img src="{{ url_for('static', filename='res/web.png') }}" alt="Website"></a>
                    <a href="https://medium.com/@anoopjohny2000"><img src="{{ url_for('static', filename='res/medium.png') }}" alt="Medium"></a>
                    <a href="https://www.kooapp.com/profile/anoop2DEVLJ"><img src="https://www.kooapp.com/_next/static/media/logoKuSolidOutline.1f4fa971.svg" alt="The Koo App" width="55" height="55"></a>
                    <a href="https://www.kaggle.com/anoopjohny"><img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/189_Kaggle-1024.png" alt="The Kaggle App" width="55" height="55"></a>
                </ul>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">© 2023-2024 PythonPythonME.</p>
                    <p>All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
