<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <!-- Add these lines to your HTML head section -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='res/favicon.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>






    <div class="image-container">
        <a href="https://pythonpythonme.netlify.app/">
            <img alt="Logo" src="static/Images/Icon.png" style="border-radius: 5px; width: 306px; height: 234px;" class="auto-style25"></img>
        </a>
    </div>


    <!-- Toggler for Background and Text Color -->
    <button id="colorToggler">Color</button>

    <div class="container mt-5">
        <h1>Welcome to the Home Page</h1>
        <p>This is the home page of our Flask app.</p>

        <div class="menu-box">
            <p></p><br>
            <a href="/python_intro">Python Intro</a><br><br>
            <a href="/flow_of_control">flow of control</a><br><br>
            <a href="/Data_structure">Datastructure</a><br><br>
            <a href="/class1">Day1</a><br><br>
            <a href="/class2">Day2</a><br><br>
            <a href="/class3">Day3</a><br><br>
            <a href="/class4">Day4</a><br><br>
            <a href="/class5">Day5</a><br><br>
            <a href="/class6">Day6</a><br><br>
            <a href="/class7">Day7</a><br><br>
            <a href="/class8">Day8</a><br><br>
            <a href="/class9">Day9</a><br><br>
            <a href="/class10">Day10</a><br><br>
            <a href="/class11">Day11</a><br><br>
            <a href="/class11">Day12</a><br><br>
            <a href="/Exercise">Exercise</a><br><br>
            <a href="/about">About</a><br><br>
            <a href="/about_me">About me</a><br><br>
            <a href="/contact">Contact</a><br><br>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 text-center">
                        <div>
                        </div>
                        <h4>Anoop Johny 🤖</h4>
                        <h4>Follow Me</h4>
                        <ul class="social-icons">
                            <a href="https://www.linkedin.com/in/anoop-johny-30a746181/"><img src="{{ url_for('static', filename='res/linkedin.png') }}" alt="LinkedIn"></a>
                            <a href="https://github.com/flyfir248"><img src="{{ url_for('static', filename='res/github.png') }}" alt="GitHub"></a>
                            <a href="https://pythonpythonme.netlify.app/index.html"><img src="{{ url_for('static', filename='res/web.png') }}" alt="Website"></a>
                            <a href="https://medium.com/@anoopjohny2000"><img src="{{ url_for('static', filename='res/medium.png') }}" alt="Medium"></a>
                            <a href="https://www.kooapp.com/profile/anoop2DEVLJ"><img src="https://www.kooapp.com/_next/static/media/logoKuSolidOutline.1f4fa971.svg" alt="The Koo App" width="55" height="55"></a>
                            <a href="https://www.kaggle.com/anoopjohny"><img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/189_Kaggle-1024.png" alt="The Kaggle App" width="55" height="55"></a>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted">© 2023-2024 PythonPythonME.</p>
                        <p>All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JavaScript for toggling background and text color -->
    <script>
        $(document).ready(function() {
            $("#colorToggler").click(function() {
                $("body").toggleClass("bg-lightgray");
            });
        });
    </script>

</body>
</html>
